.login-box {
  border: 1px solid #c8c8c8;
  padding: 15px 29px;
  background-color: #fff;
  border-radius: 10px;
}


.login-btn {
  margin-top: 15px;
  padding: 0;
}

.error{
  color: red;
  padding-top: 15px;

}

.signup{
  padding-left: 5rem;
}